
  <%= div_for group do %>
<table class="well">
<div class="panel">
<h3><%= group.name %></h3>
<tr>
  <td><%= link_to "Edit group", edit_group_path(group), remote: true, class:"btn btn-primary" %></td>
  <td><%= link_to "Delete group", group, remote: true, method: :delete, class:"btn btn-danger" %></td>
</tr>
<% end %>
</div>	
</table>
