<li>
  <%= div_for group do %>
<div class="well">
<h3 class="well"><%= group.name %></h3>
<ul>
  <li><%= link_to "Edit group", edit_group_path(group), remote: true, class:"btn btn-primary" %></li>
  <li><%= link_to "Delete group", group, remote: true, method: :delete, class:"btn btn-danger" %></li>
</ul>
<% end %>
</div>
</li>